<profile enabled="true" defaultProvider="AspNetSqlProfileProvider" automaticSaveEnabled="false">
  <providers>
    <remove name="AspNetSqlProfileProvider"/>
    <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="UserConnectionString" applicationName="CMS"/>
  </providers>
  <properties>
	  <add name="FullName" type="String"/>
	  <add name="Gender" type="String"/>
	  <add name="BirthDate" type="DateTime"/>
	  <add name="Company" type="String"/>
	  <add name="FunctionGroup_ID" type="String"/>
	  <add name="ProductBrand_ID" type="String"/>
	  <add name="FarmGroup_ID" type="String"/>
	  <add name="FarmGroupInter_ID" type="String"/>
	  <add name="Zone_ID" type="String"/>
	  <add name="Workshop_ID" type="String"/>
	  <add name="Department_ID" type="String"/>
	  <add name="AccountType_ID" type="String"/>
	  <add name="Rank_ID" type="String"/>
	  <add name="Address" type="String"/>
	  <add name="Location_ID" type="String"/>
	  <add name="District_ID" type="String"/>
	  <add name="Ward_ID" type="String"/>
	  <add name="DepartmentMan_ID" type="String"/>
	  <add name="Phone" type="String"/>
	  <add name="Fax" type="String"/>
	  <add name="Website" type="String"/>
	  <add name="YM" type="String"/>
	  <add name="Skype" type="String"/>
	  <add name="AvatarUrl" type="String"/>
	  <add name="Signature" type="String"/>
	  <add name="Area_ID" type="String"/>
	  <add name="Farm_ID" type="String"/>
	  <add name="Module_ID" type="String"/>
	  <add name="IsSale" type="String"/>
	  <add name="AccountCheckVN_ID" type="String"/>
	  <add name="Warehouse_ID" type="String"/>
	  <add name="CreateBy" type="String"/>
  </properties>
</profile>